/* font-family: 'Koulen', cursive;

font-family: 'Source Sans Pro', sans-serif; */

h1, h2{
  font-family: 'Koulen', cursive;
}
p{

  font-family: 'Source Sans Pro', sans-serif;
}
li{
  font-family: 'Source Sans Pro', sans-serif;
}
.fa-brands{
  font-size:30px;
}
.carousel-items{
  height:800px;
}
.image-center{
width: 60%;
height:500px;
}

/* .image-date{
  display:block;
  width:70%;
  margin:auto;
} */
.img1, .img2 {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1{
  background-image: 
  url("../IMG/pexels-vishnu-r-nair-1105666.jpg");
}
.img2{
  background-image: 
  url("../IMG/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg");
}
label{
  font-family:'Koulen', cursive ;
  font-size: 25px;
}
/* event page css */
/* .event-jumbo{
  background-color: #eed7c5;
  height:500px;
} */