/* font-family: 'Koulen', cursive;
font-family: 'Open Sans', sans-serif; */
.jumbotron{
height:300px;
}
h1, h2{
  font-family: 'Koulen', cursive;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.nav{
  height:200px;
}
li{
  font-family: 'Open Sans', sans-serif;
}
.fa-brands{
  font-size:30px;
}

.img1, .img2 {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1{
  background-image: 
  url("../IMG/pexels-vishnu-r-nair-1105666.jpg");
}
.img2{
  background-image: 
  url("../IMG/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg");
}
label{
  font-family:'Koulen', cursive ;
  font-size: 25px;
}
/* event page css */
.event-jumbo{
  background-color: #eed7c5;
  height:400px;
}